@if (isLoaded)
{
    @ChildContent
}
else
{
    <div class="fade-in" style="position:absolute; top:30vh; width:100%; text-align:center">
        <h1>@WelcomeText</h1>
        <p>@LoadingText</p>
    </div>
}